---
- name: Docker Container Deployment Playbook
  hosts: webservers
  become: true
  vars:
    NEXUS_REPO: "nexus.work-experience2025.buzz"
  
  tasks:
    - name: Stop running container
      command: docker stop appContainer
      ignore_errors: yes

    - name: Remove stopped container
      command: docker rm appContainer
      ignore_errors: yes

    - name: Remove existing image
      command: docker rmi "{{ NEXUS_REPO }}/nexus-docker-repo/apppetclinic:latest"
      ignore_errors: yes

    - name: Log into private Nexus registry
      become: yes
      become_user: ec2-user
      shell: echo "admin123" | docker login "{{ NEXUS_REPO }}" -u admin --password-stdin

    - name: Pull latest image from Nexus
      become: yes
      become_user: ec2-user
      command: docker pull "{{ NEXUS_REPO }}/nexus-docker-repo/apppetclinic:latest"

    - name: Run container
      become: yes
      become_user: ec2-user
      shell: |
        docker run -d \
          --name appContainer \
          -p 8080:8080 \
          --restart always \
          "{{ NEXUS_REPO }}/nexus-docker-repo/apppetclinic:latest"